body{
    background-color: dodgerblue;
}

.container {
    margin: 0 auto;
    background-color: white;
    width: 90%;
    height: 850px;
    border-radius: 10px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

p{
    margin-left: 25px;
}


div#textos{
    height: 500px;
    width: 90%;
    margin: 0 auto;
}

div#img{
    margin: 0% auto;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    background: url(pexels-nikolaos-dimou-1250289.jpg) no-repeat center center/cover;
}

p#sub{
    text-align: right;
}


div#rodape{
    text-align: center;
    padding: 4px;
    
}
